@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
  background-image: linear-gradient(
    rgba(0,0,0,0.7), 
    rgba(0,0,0,0.7)), 
    url(images/img1.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.logo{
  color: #FFFDFC;
  font-size: 25px;
  font-weight: 800;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a{
  font-size: 18px;
  padding: 20px;
  color: #FFFDFC;
  display: block;
  font-weight: 600;
}

.menu .navbar ul li input[type="submit"] {
  font-size: 18px;
  background-color: #CE967B;
  color: #F9FAFC;
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu .navbar ul li input[type="submit"]:hover {
  background-color: #ffbc9b;
}

.menu .navbar ul li a:hover{
  color: #CE967B;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.manu label{
  cursor: pointer;
  display: none;
}

  .header-content{
    text-align: center;
  }

  .header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  .header-content p{
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
  }

  .btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #CE967B;
    color: #F9FAFC;
    text-transform: uppercase;
  }

  .btn-1:hover{
    background-color: #ffbc9b;
  }

  @media(max-width:991px) {

    .menu {
      padding: 30px;
    }
  
    .menu label{
      display: initial;
    }
  
    .menu .navbar{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #323337;
      display: none;
    }
  
    .menu .navbar ul li{
      width: 100%;
    }

    .menu .navbar ul li input[type="submit"] {
      margin-bottom: 15px;
    }
  
    #menu:checked ~ .navbar{
      display: initial;
    }
  
    .header{
      min-height: 0vh;
    }
  
    .header-content{
      padding: 100px 30px;
    }
  
    .header-content p{
      padding: 0;
    }

  }    
  @media(min-width:991px) {

    .menu-icono{
      display: none;
    }

  }  